html, body{
  .setColorStyle();
  .setTextStyle();
  background-size: cover;
 }
 body{
    min-width: @mobile-width;
 }
 .container { 
   width: 280px;
   padding: 0 20px;
   margin: 0 auto;
 } 

// От 700px планшетная версия 
@media (min-width: 700px) { 
  .container { 
    width: 620px;
    padding: 0 40px;
    } 
  } 
 
// От 1200 десктопная версия 
@media (min-width: 1200px) { 
  .container { 
    width: 960px;
    padding: 0 120px;
    } 
   }
/*-------------START - HEAD--------------*/
.main-header{
  .setFlex(@content: flex-start);
  align-items: baseline;
  position: relative;
  padding-top: 20px;
  .setColorStyle(@color:white);
  &::before{//затемнение меню
    content: "";
    display: block;
    position: absolute;
    height: 110px;
    width: 100%;
    top: 0;
    left: 0;
    .setColorStyle(@backcolor: @blue-color-dark);
    @media (max-width: @tablet-width) {
      height: 70px;
    }
  }
  background: @blue-color url("img/back-desktop.jpg") no-repeat center;
  background-image: -webkit-image-set(url("img/bg-back-desktop@1x.jpg") 1x, url("img/bg-back-desktop@2x.jpg") 2x);
   @media (max-width: @tablet-width) {
     flex-direction: column;
     background-image: -webkit-image-set(url("img/bg-back-mobile@2x.jpg") 2x);
     background-position: center;
     background-size: cover;
     background-color: @blue-color-medium;
   }
   @media (min-width: @tablet-width) and (max-width: @dekstop-width) {
     flex-direction: column;
     background-image: url("img/bg-back-tablet@1x.jpg");
     background-image: -webkit-image-set(url("img/bg-back-tablet@1x.jpg") 1x, url("img/bg-back-tablet@2x.jpg") 2x);
   }
}
.header{
  &-logo{
      flex: 1 1 15%;
      text-align: left;
      z-index: 100;
      &:active{opacity: 0.7;}
      &:hover{
      //    fill: @pink-color;
      //    background-color: @pink-color;
      //     -webkit-mask: url("img/logo-pink-white-desktop.svg") no-repeat 50% 50%;
      }
      @media (max-width: @tablet-width)  {
        flex: auto;
        width: 74px;
      }
      @media (min-width: @tablet-width) and (max-width: @dekstop-width) {
         flex: auto;
         width: 145px;}
  }
  &-navigation{
    flex: 1 1 70%;
    position: relative;
    ul{
      .setFlex(@content: space-between);
      li{
        list-style-type: none;
        .setPaddingLR(15px);
        &:last-of-type{
          @media (min-width: @dekstop-width) {
            padding-right: 0;
          }
        }
        margin-bottom: 2px;
        .setTextSize(@height: 18px;);

        @media (max-width: @dekstop-width) {
          .setTextSize(@height: 32px; @weight:bold);
          .setPaddingLR(10px);
          background-color: @blue-color;
          box-shadow:
          0 -1px 0px 0px rgba(72, 84, 97,1),
          0 -2px 0px 0px black,
          0 1px 0px 0px black
          ;
        }
          @media (max-width: @tablet-width) {
            width: 300px;
          }
        @media (min-width: @tablet-width) and (max-width: @dekstop-width) {
          width: 680px;
         .setTextSize(@height: 32px; @weight:bold);
        }
        a{
          color:inherit;
          position: relative;
          display: inline-block;
          text-decoration: none;
          outline: none;
          &:hover{color: @pink-color;}
          &:active{color: @grey-color-medium;}
          &.active{
            &::after {//подчеркивание
              content: "";
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: white;
              opacity: 1;
              transform: translateY(8px);

              @media (max-width: @tablet-width),(min-width: @tablet-width) and (max-width: @dekstop-width){
                  display: none;
              }
            }
          &:hover::after{background-color: @pink-color;}
          &:active::after{background-color: @grey-color-medium;}
        }}}
    }
    #mobile-menu {
      display: none;
    }
    @media (max-width: @dekstop-width){
      flex: auto;
      align-self: center;
      ul{
        display: none;
        .setPaddingLR(0);
        margin-top: 25px;
        @media (min-width: @tablet-width) and (max-width: @dekstop-width){margin-top: 48px;}
      }
      // Burger menu button
      .burger { //
        position: absolute;
        top: -20px;
        height: 14px;
        margin-left: 116px;
        @media (min-width: @tablet-width) and (max-width: @dekstop-width){margin-left: 260px;}
        width: 20px;
        line-height: 2px;
        cursor: pointer;
         span,&::before,&::after{
           content: "";
           position: absolute;
           left: 0;
           top: 0px;
           width: 20px;
           height: 2px;
           background-color: white;
         }
         &::before {
           top: 6px;
         }
         &::after {
           top: auto;
           bottom: 0px;
         }
      }
      #mobile-menu:checked ~ .burger::before,
      #mobile-menu:checked ~ .burger::after{
        width: 28px;
        transform: rotate(-45deg);
        top: auto;
        left: -4px;
        bottom: 5px;
      }
      #mobile-menu:checked ~ .burger::after {
        transform: rotate(45deg);
      }
      #mobile-menu:checked ~ .burger span {
        display: none;
      }
      #mobile-menu:checked ~ ul{
        .setFlex(@direction: column);
      }
      //burger end
    }
  }
  &-offer{
   width: 310px;
    .setFlex(@direction: column);
    flex-wrap: nowrap;
    position: relative;
    .setPaddingTB(100px);
    .setPaddingLR(0);
    @media (max-width: @tablet-width)  {
      .setPaddingTB(0px);
      background-image: none;
      margin-top: 395px;
      padding-left: 10px;
      padding-right: 10px;
      right: 20px;
      .setColorStyle(@color: white; @backcolor: @blue-color-medium);
    }
    @media (min-width: @tablet-width) and (max-width: @dekstop-width) {
      .setPaddingTB(74px);
   }
      h1{
        .setTextSize(@size: @dekstop-font-size-h1; @height: auto; @weight: lighter);
        .setPaddingLR(10px);
        margin-bottom: 50px;
        z-index: 100;
        @media (max-width: @tablet-width)  {
          display: none;
        }
        @media (min-width: @tablet-width) and (max-width: @dekstop-width) {
            .setPaddingLR(50px);
           .setTextSize(@size: @tablet-font-size-h1; @height: auto; @weight: lighter);
        }
      }
      .btn{
        color:inherit;
        .setColorStyle(@color: white; @backcolor: transparent);
        width: 300px;
        margin-bottom:3 0px;
        padding: 15px 0px;
        text-align: center;
        text-decoration: none;
        box-sizing: border-box;
        .setTextSize(@size: @dekstop-font-size-btn; @height:18px; @weight:bold);
        border:3px solid white;
        border-radius:40px ;
        z-index: 100;
        &:hover{
          .setColorStyle(@color: @pink-color; @backcolor: white);
        }
        &:active{
          .setColorStyle(@color: @pink-color-light; @backcolor: white);
        }
        @media (max-width: @tablet-width)  {
          .setTextSize(@size: @mobile-font-size-btn; @height:18px; @weight:bold);
        }
        @media (min-width: @tablet-width) and (max-width: @dekstop-width) {
          .setTextSize(@size: @tablet-font-size-btn; @height:18px; @weight:bold);
       }
      }
      .download-list{
        .setFlex(@content: space-around);
        align-items: baseline;
        margin-top: 20px;
        padding: 0;
        z-index: 100;
        li{
          list-style-type: none;
          .dwn-btn{
            span{font-size: 0;}
          }
          .icon-apple{.setIcon("icon-apple");}
          .icon-android{.setIcon("icon-android");}
          .icon-windows{.setIcon("icon-windows");}
        }
      }
      p{
        .setTextSize(@height: @dekstop-font-size-p; @weight:lighter);
        @media (max-width: @tablet-width){
          .setPaddingLR(5px);
           .setTextSize(@size: @mobile-font-size; @height: 24px; @weight: lighter);
        }
        @media (min-width: @tablet-width) and (max-width: @dekstop-width) {
            .setPaddingLR(15px);
          .setTextSize(@size: @tablet-font-size-p; @height: 24px; @weight: lighter);
       }
      }
      picture img{
        position: absolute;
        display: block;
        bottom: 0;
      }
  }
}
/*-------------END - HEAD--------------*/
